#arrierePlan {
    background-image: url("img/background.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
   

}

#haijin {
    background-color: aqua;
}

#histoire {
    background-color: red;
}