/* importer fonts */
@font-face {
    font-family: 'bonzairegular';
    src: url('./fonts/bonzai-webfont.woff2') format('woff2'),
        url('./fonts/bonzai-webfont.woff') format('woff'),
        url('./fonts/bonzai-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url("img/background.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
}

/* header {
    background-color: brown;
    height: 20%;   
} */

main {
    /* pour fixer le footer en bas de page */
    /* padding-bottom: 2.5rem; */
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10rem;
}

#haikus {
    width: 25%;
    margin-left: 10%;
    margin-bottom: 2rem;
    padding: 8px 0 8px 16px;
    text-align: center;
    color: #fd40b1;
    font-family: 'bonzairegular';
    font-size: 1.5rem;
    background-color: #fbe1f1c1;
}

#zoneScroll {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: blueviolet; */
}

#menu {
    /* background-color: orange; */
    width: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 155px;
    background-color: #5d8fdfd7;
}

li a {
    display: block;
    color: #f0f0f0;
    /* color: #f823a3; */
    /* color: #fa0a56; */
    font-family: 'bonzairegular';
    font-size: 1.5rem;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #fbe1f1c1;
    /* background-color: #f0f0f0; */
    /* color: #4b012d; */
    color: #f823a3;
}

#histoire {
    background-color:#f0f0f0c8;/*rgba(254, 195, 238, 0.413)*/
    width: 75%;
    margin-bottom: 2.5rem;
    padding: 8px 0;
}

#haijin {
    /* background-color: aqua; */
    width: 10%;
    align-items: end;
    display: flex;
}

#haijinPerso {
    width: 100%;
}

footer {
    /* background-color: green; */
    width: 100%;
    height: 2.5rem;
    text-align: center;
    position: absolute;
    bottom: 0;
}